<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Gravity</title>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" id="check-label">
            <i class="fa fa-reorder"></i>
        </label>
        <label class="logo">
            <a href="/">Gra<span class="nav-span">vity</span></a>
           
        </label>
        <ul class="nav-ul">
            <li>
               <a  href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
    

    <div class="form-container">
        <div id="form-con">
            <img id="google-image"
                src="https://assets.materialup.com/uploads/3a91ac9f-f60f-4370-b58b-171d988c3b4b/preview.jpg" />



            <form id='form'>


                <button id="google"><a href="/auth/google" id="google-link">
                        Sign in with Google
                    </a></button>
            </form>
        </div>


    </div>

</body>

</html>